# Label encoder

In [1]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder

In [2]:
import pandas as pd

data = {
    'Gender': ['Male', 'Female', 'Female', 'Male'],
    'City': ['Delhi', 'Mumbai', 'Delhi', 'Pune'],
    'Salary': [60000, 58000, 62000, 61000]
}

df = pd.DataFrame(data)
print(df)

   Gender    City  Salary
0    Male   Delhi   60000
1  Female  Mumbai   58000
2  Female   Delhi   62000
3    Male    Pune   61000

In [3]:
le=LabelEncoder()
df['Gender_Encoded']=le.fit_transform(df['Gender'])
print(df)

   Gender    City  Salary  Gender_Encoded
0    Male   Delhi   60000               1
1  Female  Mumbai   58000               0
2  Female   Delhi   62000               0
3    Male    Pune   61000               1

# One hot encoder

In [4]:
ohe= OneHotEncoder()
city_encoded=ohe.fit_transform(df[['City']]).toarray()
city_df=pd.DataFrame(city_encoded,columns=ohe.get_feature_names_out(['City']))
df=pd.concat([df,city_df],axis=1)
print(df)

   Gender    City  Salary  Gender_Encoded  City_Delhi  City_Mumbai  City_Pune
0    Male   Delhi   60000               1         1.0          0.0        0.0
1  Female  Mumbai   58000               0         0.0          1.0        0.0
2  Female   Delhi   62000               0         1.0          0.0        0.0
3    Male    Pune   61000               1         0.0          0.0        1.0